* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 100vh;
    min-height: 100vh
}
@font-face {
    font-family:'Orbitron Light';
    font-style: arial;
    font-weight: 400;
    src: url(../../Src/Fonts/orbitron-light_[allfont.ru].ttf);
}
#DEM_Enter {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-size: 94px;
}
#DEM_Required {
    background-color: black;
}
#DEM_Access, #DEM_Required {
    user-select: none;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    place-content: center;
    font-family: 'Orbitron light', arial;
    color: #BC750B;
}
#DEM_Access {
    background-image: url(../../Src/Images/background.jpg);
    display: none;
}
#ID_Password {
    margin-top: 30vh;
    color: #109830;
}
