* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
@font-face {
    font-family:'Orbitron Light';
    font-style: arial;
    font-weight: 400;
    src: url(../Fonts/orbitron-light_[allfont.ru].ttf);
}
@font-face {
    font-family:'Orbitron';
    font-style: arial;
    font-weight: 400;
    src: url(../Fonts/Orbitron.ttf);
}
[class^="box-"] {
    display: grid;
    place-items: center;
    color: #9a9b9c;
}
.container {
    background-image: url(../Images/background.jpg);
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-template-areas: 
    "A A A A A A A A A A A A"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D"
    "B B B B C C C C C D D D";
}
.box-header {
    grid-area: A;
    font-family: 'Orbitron light', arial;
    font-size: 30px;
    text-align: left;
    display: flex;

}
.box-sprimg {
    grid-area: B;
    width: 100%;
    height: 90vh;
}
.box-sprimg img {
    height: 93vh;
    width: 100%;
}
.box-placecontent {
    grid-area: C;
}
.box-buttons {
    grid-area: D;
}
#DEM_Back {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 3%;
    height: 50%;
    background-color: black;
    border-left: 1px solid #BC750B;
    border-right: 1px solid #BC750B;
    transform: rotate(30deg);
    position: relative;
}
img {
    pointer-events: none;
}
#DEM_Back img {
    z-index: 1000;
    position: absolute;
    transform: rotate(180deg);
    user-select: none;
    width: 100%;
    height: 100%;
}
#DEM_Back::before, #DEM_Back::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    border-left: 1px solid #BC750B;
    border-right: 1px solid #BC750B;
}
#DEM_Back::before {
    transform: rotate(60deg);
}
#DEM_Back::after {
    transform: rotate(-60deg);
}
#Spirit_Identidy, #Spirit_Persona, #Spirit_Power, #Spirit_Inverse {
    cursor: pointer;
    display: flex;
    user-select: none;
    width: 40%;
    height: 40%;
    background-color: black;
    border-left: 1px solid #BC750B;
    border-right: 1px solid #BC750B;
    text-align: right;
    align-items: center;
    transform: rotate(30deg);
    position: relative;
    font-family: 'Orbitron light', arial;
    font-size: 22px;
}
#Spirit_Identidy span {
    left: 30px;
}
#Spirit_Persona span {
    left: 30px;
}
#Spirit_Power span {
    left: 50px;
}
#Spirit_Inverse span {
    left: 50px;
}
#Spirit_Identidy span, #Spirit_Persona span, #Spirit_Power span, #Spirit_Inverse span {
    position: absolute;
    transform: rotate(-30deg);
    z-index: 1000;
}
#Spirit_Identidy::before, #Spirit_Persona::before, #Spirit_Power::before, #Spirit_Inverse::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    transform: rotate(60deg);
    border-left: 1px solid #BC750B;
    border-right: 1px solid #BC750B;
}
#Spirit_Identidy::after, #Spirit_Persona::after, #Spirit_Power::after, #Spirit_Inverse::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    border-left: 1px solid #BC750B;
    border-right: 1px solid #BC750B;
}
#Spirit_Content { 
    width: 100%;
    height: 100%;
}
.Spirit_Content {
    display: none; 
}
.Spirit_Info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 25px;
    border: 1px solid #BC750B;
    width: 100%;
    height: 90%;
    font-family: 'Orbitron', arial;
    background-color: black;
}
#close {
    font-size: 40px;
    width: 98%;
    text-align: right;
    position: relative;
    color: #BC750B;
    cursor: pointer;
}
#Spirit_Identidy:hover, #Spirit_Persona:hover, #Spirit_Power:hover, #DEM_Back:hover,
#Spirit_Identidy:hover::before, #Spirit_Persona:hover::before, #Spirit_Power:hover::before, #DEM_Back:hover::before,
#Spirit_Identidy:hover::after, #Spirit_Persona:hover::after, #Spirit_Power:hover::after, #DEM_Back:hover::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #33312d;
}
#Spirit_Identidy:active, #Spirit_Persona:active, #Spirit_Power:active, #DEM_Back:active,
#Spirit_Identidy:active::before, #Spirit_Persona:active::before, #Spirit_Power:active::before, #DEM_Back:active::before,
#Spirit_Identidy:active::after, #Spirit_Persona:active::after, #Spirit_Power:active::after, #DEM_Back:active::after {
    border-left: 1px solid #3b2b02;
    border-right: 1px solid #3b2b02;
    background-color: #33312d;
}

#Spirit_Inverse:hover,
#Spirit_Inverse:hover::before,
#Spirit_Inverse:hover::after {
    border-left: 1px solid #d13f3f;
    border-right: 1px solid #d13f3f;
    background-color: darkred;
}

#Spirit_Inverse:active,
#Spirit_Inverse:active::before,
#Spirit_Inverse:active::after {
    border-left: 1px solid #3b1717;
    border-right: 1px solid #3b1717;
    background-color: #120101;
}
#Spirit_Name {
    width: 100%;
    text-align: center;
}
#Spirit_Text p, #Spirit_Text h4, #Spirit_Text ul {
    margin-top: 10px;
}
#Spirit_Text td, #Spirit_Text th {
    text-align: center;
    background-color: #e3e3e3;
    border: 1px solid #ad6d0c;
    color: #ad6d0c;
}
#Spirit_Text li {
    margin-left: 25px;
}
#Spirit_Text span {
    color: #ad6d0c;
}
#Spirit_Text {
    padding-left: 10px;
}
