.spirit {
    display: flex;
    color: #9a9b9c;
    position: relative;
    background: #10110C;
    border-radius: 50%;
    width: 10vw;
    height: 10vh;
    border: 1px solid #FBDA19;
    text-align: center;
    align-items: center;
    place-content: center;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}
.spirit:hover {
    background-color: #4b4f39;
    border: 1px solid #f7eba6;
}
.spirit:active {
    background-color: #22241b;
    border: 1px solid #6b5c03;
    box-shadow: inset 5px 5px 3px black;
}
#Hohkmah {
    left: 250px;
    top: 50px;
}
#Binah {
    right: 250px;
    bottom: 50px;
}
#Hesed {
    left: 300px;
    top: 50px;
}
#Geburah {
    right: 300px;
    bottom: 50px;
}
#Netzach {
    left: 300px;
    top: 50px;
}
#Tiphereth {
    top: 20px;
}
#Hod {
    right: 300px;
    bottom: 50px;
}
#Yesod {
    bottom: 30px;
}
